<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" ng-controller='WeatherService as Weather'>
  <h2>
    Журнал погодных явлений на территории Удмуртской Республики
  </h2>
</div>

<h3>Погодные явления:</h3>
<ul>
  <body>

  <tr>
    <td>Дата</td>
    <td>Явление</td>
    <td>Параметр</td>
    <td>Значение</td>

  </tr>
  <tr>
    <td>
      <input  type="date" ng-model='name'>
      <!--<input type="date" [ngModel] ="dt | date:'yyyy-MM-dd'">-->
    </td>
    <td>
      <select>
        <option  *ngFor="let W of Weather"> {{W.name_phenomen}}</option>
      </select>
    </td>
    <td>
      <select>
        <option  *ngFor="let W of Weather"> {{W.name_phenomen}}</option>
      </select>
    </td>
    <td>
      <input  type="text" ng-model='name'>
    </td>
  </tr>

  <tr>
    <button ng-click='grettingsShown=true'>Сохранить явление</button>
  </tr>


  <tr>
    <button ng-click='grettingsShown=true'>История</button>

    <td>
      <input  type="text" ng-model='name'>  {{W.name_phenomen}}
    </td>



  </tr>

  </body>
</ul>
